// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vendor
@import "~craftable/scss/app";

// Dropdown
.show .dropdown-menu {
    display: block;
    opacity: 1;
    pointer-events: all;
    transform: translateY(-5px);
}

// avatar
.avatar_150 {
    height: 150px !important;
    width: 150px !important;
    line-height: 150px !important;
    font-size: 64px !important;
}
